<!DOCTYPE html>
<!--suppress JSUnusedGlobalSymbols -->
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Tutoring Materials</title>
  <link href="./src/index.css" rel="stylesheet" />
</head>
<body>
<div id="app" class="p-2">
  <div class="flex flex-col max-w-7xl mx-auto mt-10">

    <!-- Top headline -->
    <header class="flex flex-row w-[658px] mx-auto justify-between items-center">
      <!-- Editor headline -->
      <h1 class="text-3xl font-bold leading-tight text-gray-900 mb-2">
        {{ $t("index.headline-editor") }}
      </h1>

      <!-- Functionality block -->
      <div class="flex flex-row">

        <!-- Package version -->
        <div class="p-1.5 mr-1 text-sm">v{{ packageVersion }}</div>

        <!-- Language settings -->
        <div
          class="h-8 inline-flex p-1 items-center rounded-md border border-gray-300 bg-white text-xs font-medium text-gray-700 hover:bg-gray-50 focus:z-10 focus:outline-none focus:ring-1 focus:ring-blue-500 focus:border-blue-500"
        >
          <select v-model="$i18n.locale" class="h-6 appearance-none px-1 cursor-pointer">
            <option
              v-for="locale in $i18n.availableLocales"
              :key="`locale-${locale}`"
              :value="locale"
            >
              {{ locale }}
            </option>
          </select>
        </div>
      </div>
    </header>

    <!-- Main editor -->
    <main class="h-[700px] w-[658px] mx-auto border">
      <!--suppress VueMissingComponentImportInspection -->
      <tutoring-material
        :content="content"
        :state="state"
        :is-editor="isEditor"
        :is-preview="isPreview"
        :task-limit="3"
        :task-options="{
            textSubmitButton: 'Prüfen',
            titleCorrectAnswer: 'Richtige Antwort',
            textCorrectAnswer:'Gut gemacht!',
            titleIncorrectAnswer: 'Falsche Antwort',
            textIncorrectAnswer: 'Überprüfe deine Antwort noch einmal und versuche es erneut.',
            titleFinalIncorrectAnswer: 'Falsche Antwort',
            textFinalIncorrectAnswer: 'Schaue dir die Lösung an.',
              }"
        @update:content="content = $event"
        @update:is-preview="isPreview = $event"
        @update:state="state = { ...$event }"
        @next="next"
      ></tutoring-material>
    </main>
  </div>
</div>

<script type="module">
  import { createApp } from "vue/dist/vue.esm-bundler";
  import TutoringMaterials from "./src/index";

  const app = createApp({
    data() {
      return {
        packageVersion: TutoringMaterials.version,
        content: undefined,
        state: undefined,
        events: [],
        previewKey: 0,
        isEditor: true,
        isPreview: true,
        isReloading: false,
        isSidebarOpen: false
      };
    },
      methods: {
        next() {
            console.log(JSON.stringify(this.state))
        }
      }
  });

  app.use(TutoringMaterials);

  app.mount("#app");
</script>
</body>
</html>
